 @font-face {
     font-family: 'Gilroy';
     src: url('../fonts/Gilroy-Medium.ttf');
 }
 
 body {
     font-family: 'Gilroy';
     background-color: #E5E5E5;
 }
 
 .background_header {
     background-color: #F9F1E7;
 }
 
 .header {
     position: relative;
 }
 
 nav {
     padding: 40px 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .menu_left {
     display: flex;
     gap: 40px;
 }
 
 .menu_right {
     display: flex;
     gap: 30px;
 }
 
 .menu_item {
     display: flex;
     align-items: center;
 }
 
 .user_img img {
     border-radius: 50%;
 }
 
 .search {
     background-color: #fff;
     width: 350px;
     height: 45px;
     gap: 12px;
     padding-left: 12px;
 }
 
 .search input {
     border: none;
 }
 
 .search input:focus {
     border: none;
 }
 
 //  ---------------------------------
 .swiper-container {
     position: relative;
     margin-top: 50px;
 }
 
 .swiper {
     width: 100%;
 }
 
 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .mySwiper .swiper-slide:nth-child(1n),
 .mySwiper .swiper-slide:nth-child(2n),
 .mySwiper .swiper-slide:nth-child(3n) {
     transform: translateX(10%);
 }
 
 .swiper-slide {
     transform: translateX(10%);
 }
 
 .swiper-slide:nth-child(1n) {
     width: 70%;
 }
 
 .swiper-slide:nth-child(3n) {
     width: 70%;
 }
 
 .custom-swiper-button {
     position: absolute;
     top: 10px;
     width: 48px;
     height: 48px;
     background-color: #E89F71;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     z-index: 10;
 }
 
 .my-prev-button {
     position: absolute;
     top: -30px;
     right: 80px;
 }
 
 .my-next-button {
     position: absolute;
     top: -30px;
     right: 20px;
 }
 
 .custom-swiper-button:hover {
     background-color: #E89F71;
     transition: opacity 0.3s;
     opacity: 0.6;
 }
 
 .custom-swiper-pagination {
     padding-bottom: 30px;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .custom-swiper-pagination .swiper-pagination-bullet-active {
     background-color: #E89F71;
 }
 
 .swiper-pagination-bullet-active {
     color: #E89F71;
 }
 
 //  ----------------------------------
 .hero_container {
     position: absolute;
     top: 140px;
     left: 100px;
     padding: 60px;
     background-color: #fff;
     opacity: 0.9;
     max-width: 600px;
     //  max-height: 500px;
     //  width: 20%;
     //  height: 50vh;
     z-index: 10;
 }
 
 .hero_content {
     display: flex;
     flex-direction: column;
     font-family: 'Gilroy';
 }
 
 .hero_title {
     font-size: 56px;
     line-height: 67.2px;
     font-weight: 700;
     color: #000;
 }
 
 .hero_text {
     margin: 16px 0px 48px;
     color: #898989;
     font-size: 20px;
     line-height: 30px;
     font-weight: 500;
 }
 
 .hero_btn {
     background-color: #E89F71;
     color: #fff;
     font-size: 20px;
     line-height: 30px;
     font-weight: 600;
     border: none;
     height: 78px;
     cursor: pointer;
 }
 
 //  ----------------------
 .feature_container {
     display: flex;
     justify-content: space-between;
     margin: 88px 100px;
 }
 
 .feature_block {
     display: flex;
     gap: 24px;
 }
 
 .feature_title {
     font-size: 18px;
     line-height: 27px;
     font-weight: 600;
     color: #000;
     margin-bottom: 2px;
 }
 
 .feature_text {
     font-size: 16px;
     line-height: 24px;
     font-weight: 500;
     color: #898989;
 }
 
 //  -------------------
 .section_title {
     font-size: 40px;
     font-weight: 700;
     line-height: 48px;
     color: #3A3A3A;
     text-align: center;
     margin-bottom: 32px;
 }
 
 .products_container {
     margin: 0 100px;
 }
 
 .products_list {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 32px;
     grid-row-gap: 32px;
 }
 
 .product_card {
     position: relative;
     width: 285px;
     height: 445px;
     background-color: #F4F5F7;
 }
 
 .label {
     position: absolute;
     top: 24px;
     right: 24px;
 }
 
 .product_info {
     padding: 16px;
 }
 
 .product_name {
     font-size: 24px;
     font-weight: 600;
     line-height: 28.8px;
     color: #3A3A3A;
 }
 
 .product_text {
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     color: #898989;
     padding: 8px 0px;
 }
 
 .product_price {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .new_price {
     font-size: 20px;
     font-weight: 600;
     line-height: 30px;
     color: #3A3A3A;
 }
 
 .old_price {
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     text-decoration: line-through;
     color: #B0B0B0;
 }
 
 .product_card:hover::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     z-index: 1;
     transition: background-color 0.3s;
 }
 
 .action_buttons {
     display: none;
 }
 
 .product_card:hover .action_buttons {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: 2;
 }
 
 .product_to_cart {
     width: 200px;
     height: 50px;
     background-color: #fff;
     color: #E89F71;
     border: none;
     font-size: 16px;
     line-height: 24px;
     font-weight: 500;
     cursor: pointer;
 }
 
 .social_icons {
     display: flex;
     padding-top: 24px;
     gap: 48px;
     color: #fff;
     font-size: 16px;
     line-height: 24px;
     font-weight: 500;
 }
 
 .icons_block {
     display: flex;
     gap: 8px;
     cursor: pointer;
 }
 
 .show_more-btn {
     margin: 32px 0px 44px;
     display: flex;
     justify-content: center;
 }
 
 .show_more-btn button {
     //  margin-top: 32px;
     width: 245px;
     height: 50px;
     border: 1px solid #E89F71;
     background-color: #fff;
     color: #E89F71;
     font-size: 16px;
     line-height: 24px;
     font-weight: 500;
     cursor: pointer;
 }
 
 //  ----------------------
 .rooms_title {
     font-size: 40px;
     line-height: 48px;
     font-weight: 700;
     color: #3A3A3A;
 }
 
 .rooms_text {
     font-size: 16px;
     line-height: 24px;
     font-weight: 500;
     color: #616161;
     padding: 8px 0px 24px;
 }
 
 .rooms_btn {
     font-size: 16px;
     line-height: 24px;
     font-weight: 600;
     color: #fff;
     background-color: #E89F71;
     width: 176px;
     height: 50px;
     border: none;
 }
 
 .rooms_container {
     display: flex;
     width: 100%;
     height: 670px;
     background-color: #FCF8F3;
     align-items: center;
 }
 
 .rooms_inform {
     margin-left: 100px;
 }
 
 .rooms_slider {
     position: relative;
     width: 100%;
     //  height: 80%;
 }
 
 .swiper_rooms .swiper-slide {
     flex-shrink: 1;
 }
 
 .swiper_rooms .swiper-slide:nth-child(1n),
 .swiper_rooms .swiper-slide:nth-child(2n),
 .swiper_rooms .swiper-slide:nth-child(3n) {
     transform: translateX(50%);
 }
 
 .swiper-custom-button {
     position: absolute;
     top: 50%;
     right: 40px;
     width: 48px;
     height: 48px;
     background-color: #fff;
     border-radius: 50%;
     display: flex;
     z-index: 10;
     cursor: pointer;
     justify-content: center;
 }
 
 .swiper-custom-button img {
     width: 24px;
 }
 
 .swiper-pagination .swiper-pagination-bullet-active {
     background-color: #E89F71;
 }
 
 //  ------------------------------
 .tips_trick {
     //  text-align: center;
     padding: 44px 75px;
     //  background-color: #f5f5f5;
 }
 
 .tips_text-block {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }
 
 .tips_title {
     font-size: 24px;
     line-height: 29px;
     font-weight: 600;
     padding: 16px 16px 8px;
     text-align: left;
 }
 
 .tips_text {
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
     padding: 0px 0px 16px 16px;
 }
 
 .swiper-list {
     max-width: 100%;
     margin: 0 auto;
     position: relative;
 }
 
 .tips_text-block.active {
     background-color: #ffffff;
 }
 
 .swiper-list .swiper-slide {
     text-align: center;
     background-color: #E5E5E5;
     //  padding: 20px;
     //  border-radius: 8px;
 }
 /* Кастомні кнопки перемикання */
 
 .custom-prev,
 .custom-next {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 40px;
     height: 40px;
     background-color: #e89f71;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     color: #fff;
     cursor: pointer;
     transition: background-color 0.3s;
 }
 
 .custom-prev {
     left: 20px;
 }
 
 .custom-next {
     right: 20px;
 }
 
 .custom-prev:hover,
 .custom-next:hover {
     background-color: #d18458;
 }
 /* Стилізація пагінації */
 
 .swiper-pagination {
     margin-top: 20px;
 }
 
 .swiper-pagination-bullet {
     width: 12px;
     height: 12px;
     border-radius: 50%;
     background-color: #ccc;
     opacity: 1;
 }
 
 .swiper-pagination-bullet-active {
     background-color: #e89f71;
 }
 
 //  ---------------------
 .furniture {
     position: relative;
     height: 800px;
 }
 
 .furniture_title {
     text-align: center;
     margin-top: 8px;
 }
 
 .photo-item1 {
     position: absolute;
     top: 40px;
     left: -57px;
 }
 
 .photo-item2 {
     position: absolute;
     bottom: 37px;
     left: -67px;
 }
 
 .photo-item3 {
     position: absolute;
     top: 110px;
     left: 224px;
 }
 
 .photo-item4 {
     position: absolute;
     bottom: 117px;
     left: 331px;
 }
 
 .photo-item5 {
     position: absolute;
     top: 25%;
     left: 691px;
 }
 
 .photo-item6 {
     position: absolute;
     top: 160px;
     left: 1002px;
 }
 
 .photo-item7 {
     position: absolute;
     top: 75px;
     left: 1308px;
 }
 
 .photo-item8 {
     position: absolute;
     bottom: 31px;
     left: 1002px;
 }
 
 .photo-item9 {
     position: absolute;
     bottom: 77px;
     left: 1196px;
 }
 
 //  --------------------------
 footer {
     position: relative;
     margin-top: 160px;
 }
 
 footer::before {
     content: "";
     position: absolute;
     margin: 0px 100px;
     left: 0px;
     right: 0px;
     border-bottom: 1px solid #D8D8D8;
     top: -80px;
 }
 
 .footer_container {
     margin: 50px 100px;
     display: flex;
     justify-content: space-between;
 }
 
 .footer_container a {
     text-decoration: none;
     //  color: #616161;
 }
 
 .footer_container ul {
     font-size: 24px;
     line-height: 29px;
     font-weight: 700;
     color: #000;
 }
 
 .footer_container li {
     font-size: 16px;
     line-height: 24px;
     font-weight: 500;
     color: #616161;
     margin-top: 16px;
 }
 
 .footer_container ul a {
     color: #000;
 }
 
 .footer_container li a {
     color: #616161;
 }
 
 .footer_update input {
     height: 45px;
     width: 200px;
     background-color: #F4F5F7;
     border: none;
 }
 
 .footer_update input::placeholder {
     font-size: 16px;
     line-height: 24;
     font-weight: 400;
     color: #828282;
     border: 1px soli black;
 }
 
 .footer_update form {
     display: flex;
     gap: 4px;
     margin-top: 16px;
 }
 
 .form_btn {
     height: 45px;
     width: 45px;
     border: none;
     background-color: #E89F71;
 }